body {
  font-family: 'Open Sans', sans-serif;
}

#image {
}
#title {
  font-variant: small-caps;
  font-weight: bold;
  background-color:#333333;
  color: white;
  letter-spacing:2px;
  padding: 10px;
}
#copyright{
    font-size: 8px;
}

#intro p {
  text-align: justify;
}

#intro h1 {
	background-color: #F5F5F5;
	color: #C00000;
}

#news, #copyright {
	padding: 10px;
	background-color: #F5F5F5;
}

hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	border-color:#DDDDDD;

}
