
#title {
  letter-spacing:2px;
  padding: 10px;
}


#news, #copyright {
	padding: 10px;
}

hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

}
